
{% load static %}

 <!-- Footer -->
 <footer style="background-color: #000; padding-bottom: 35px; margin-bottom: -100px;">
    <div class="container-xxl flex-wrap pt-3 d-flex align-items-center justify-content-between">
      <p style="color: aliceblue;">Copyright © 2024 Jaime Campillay</p>
      <ul class="social-icons d-flex">
        <a href="#" class="bg-primary mx-2 text-white d-flex align-items-center justify-content-center text-decoration-none rounded-circle"><small><i class="fa-brands fa-linkedin-in"></i></small></a>
        <a href="#" class="bg-danger mx-2 text-white d-flex align-items-center justify-content-center text-decoration-none rounded-circle"><small><i class="fa-brands fa-github"></i></small></a>
        <a href="#" class="bg-warning mx-2 text-black d-flex align-items-center justify-content-center text-decoration-none rounded-circle"><small><i class="fa-brands fa-aws"></i></small></a>
      </ul>
    </div>
   </footer>