{% load static %}
<style>
  .navbar-container > div {
  margin-bottom: 10px; /* Espacio entre los elementos */
}

.language-selection {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 970px) {
  .navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
</style>
<header id="masthead">
    <div class="inner-wrap">
   
      <nav class="navbar">
        <div class="navbar-container">
          <a href="{% url 'welcome' %}" class="site-title">
            <img src="{% static 'img/the-jaime-campillay-experience2.png' %}" id="image" alt="Card image cap" height="50">
        </a>
          <div class="navbar-user">
            <span class="username">{{ request.user.username }}</span>
            <small class="user-email">({{ request.user.email }})</small>
            <div class="language-selection">
            {% include 'partials/_choose_language.html' %}
          </div>
          <div class="logout-button">

            <form action="{% url 'logout' %}" method="POST" class="logout-form">
              
              {% csrf_token %}
              <button type="submit" class="logout-button">
                <i class="fas icon fa-sign-out-alt"></i> Logout
              </button>
            </form>
          </div>
          </div>
        </div>
      </nav>
      
    </div>
  </header>
  