{% extends 'welcome.html' %} 

{% load static%} {%block title%} | Login to Account

{%endblock%} 


{%block content%}

<div class="cover-container h-100 d-flex mx-auto flex-column" style="padding-top: 100px;">      
          

    <main role="main" class="inner cover">
      <h1 class="cover-heading" id="typewriter"></h1>
      <p class="lead">{{ text }}</p>
      <p class="lead">
        <a href="guest_login" class="btn btn-lg btn-secondary" style="background-color: #007bff;">{{ button_guest }}</a>
        <a href="/authentication/login" class="btn btn-lg btn-secondary" style="background-color: #007bff;">{{ button_authenticated }}</a>
      </p>
    </main>

  </div>

  {%endblock%}