{% extends 'base.html' %}
{% load static %}

{%block content%}



    <title> TITULO {% block title %} {% endblock %}</title>


  <body >


      <!-- <section class="position-relative py-6"> -->
        <section class="position-relative py-6">
            <!-- <img class="bg-image" src="{% static 'img/Mont-Rainer.png' %}" alt="">
          
              <div class="container" >
                <div class="row" >
                  <div class="col-lg-6" style="display: gird; gap: 10px; padding-top: 1rem;padding-bottom: 1rem; background-color: orange; border: 3px solid #000;">
                    <div class="bg-white rounded-lg shadow p-5"><strong class="text-uppercase text-secondary d-inline-block mb-2 text-sm">Reflection</strong>
                      <h2 class="mb-3">Chief Seattle’s Letter 1855</h2>
                      <p class="text-muted">Our connection with the Earth is deep and spiritual. Every corner of this earth and every living being are valuable and deserve our respect and care. Our actions should reflect our sacred duty to protect and love nature. By preserving the beauty and diversity of nature, we ensure that future generations can enjoy the same gifts we have received. The Earth is a gift to us and our descendants, and we must protect it with gratitude and commitment.</p><a class="btn btn-link p-0" href="post.html">Continue reading <i class="fa fa-long-arrow-alt-right"></i></a>
                    </div>
                  </div>
                </div>
              </div> -->
            </section>


<!-- Skills Section -->
<section class="container py-5" id="EY">
<h1> EY </h1>
<div class="row justify-content-around">
    <div class="col-4">
        <img src="{% static 'img/My_photo.jpg' %}" alt="Descripción de la imagen" class="img-fluid">
    </div>
    <div class="col-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Título de la tarjeta</h5>
                <p class="card-text">Aquí va el texto de tu tarjeta.</p>
            </div>
        </div>
    </div>
</div>

</section>

<!-- Portfolio Section -->
<section class="container py-5" id="Techint">
     <h1> TECHINT </h1>
     <div class="row justify-content-around">
        <div class="col-4">
            <img src="{% static 'img/Techint_wall.jpg' %}" alt="Descripción de la imagen" class="img-fluid">
        </div>
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Clearpix</h5>
                    <p class="card-text">Aquí va el texto de tu tarjeta.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Odoo - ERP</h5>
                    <p class="card-text">Aquí va el texto de tu tarjeta.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <img src="{% static 'img/sideboom.jpg' %}" alt="Descripción de la imagen" class="img-fluid">
        </div>
        
    </div>
</section>


<!-- About Section -->
<section class="container py-5" id="Clearpix">
    <h1> Clearpix </h1>
    <div class="row justify-content-around">
        <div class="col-4">
            <img src="{% static 'img/cleapix_bag.jpg' %}" alt="Descripción de la imagen" class="img-fluid">
        </div>
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Clearpix</h5>
                    <p class="card-text">Aquí va el texto de tu tarjeta.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Título de la tarjeta</h5>
                    <p class="card-text">Aquí va el texto de tu tarjeta.</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Título de la tarjeta</h5>
                    <p class="card-text">Aquí va el texto de tu tarjeta.</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <img src="{% static 'img/Odoo_Official_Logo.png' %}" alt="Descripción de la imagen" class="img-fluid">
        </div>
        
    </div>
    
</section>



 

 <!-- Footer -->

 <!-- </footer> -->

 <!-- Bootstrap script link -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>


      {%endblock%}

      <textarea class="form-control" placeholder="Leave a comment here" id="floatingMessage" style="height: 205px" required></textarea>