{% extends 'home/home.html' %}

{% load static %}

{% block title %}Servicios{% endblock %}

{% block content %}
{% if request.user.is_superuser %}
<a href="{% url 'add_professional_training' %}" class="btn btn-primary">Agregar Entrenamiento Profesional</a>
{% endif %}
  {% for professional_training in professional_trainings reversed %}
    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex mr-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper">{{professional_training.subtitle}}</span>
                <span class="section-heading-lower">{{professional_training.title}}</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{professional_training.image.url}}" alt="">
          <div class="product-item-description d-flex ml-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">{{professional_training.date|date:"Y/m/d"}} {{professional_training.content}}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endfor %}
{% endblock %}
