{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="position-relative py-6">
    <img class="bg-image" src="{% static 'img/Mont-Rainer.png' %}" alt="">
  
      <div class="container" >
        <div class="row" >
          <div class="col-lg-6" style="display: gird; gap: 10px; padding-top: 1rem;padding-bottom: 1rem; background-color: orange; border: 3px solid #000;">
            <div class="bg-white rounded-lg shadow p-5"><strong class="text-uppercase text-secondary d-inline-block mb-2 text-sm">Jaime Campillay</strong>
              <h2 class="mb-3">About Me</h2>
              <p class="text-muted">
                <h1>Page in work</h1>
                <!-- <a class="btn btn-link p-0" href="post.html">Continue reading <i class="fa fa-long-arrow-alt-right"></i></a> -->
            </div>
          </div>
        </div>
      </div>
    </section>

<div class="container mt-5">

    <a href="{% url 'see_blog' %}" class="btn btn-warning">View Your blogs</a>

    <form method="post" class="mt-5 pt-5 mb-5 pb-5"
          enctype="multipart/form-data" action="{% url 'add_blog' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                <label>Enter blog title</label>
                <input type="text" class="form-control" placeholder="Enter title" name="title">
            </div>

            <div class="col-md-12">
                {{form.media}}
                {{form.as_p}}
            </div>

            <div class="col-md-12">
                <input type="file" name="image" class="form-control" >
            </div>

        </div>

        <button type="submit" class="btn btn-primary mt-4">Create Blog</button>

    </form>

</div>


{% endblock %}