{% extends 'base.html' %}

{% load static %}

{% block title %}Contacto{% endblock %}

{% block content %}
<style>
.container_contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 90%; /* Ajusta este valor según tus necesidades */
  margin: auto; /* Centra el contenedor */
  padding-top: 60px;
  padding-left: 0px;
}

.container img, .about-heading-content {
  flex: 1;
  margin-right: 80px; /* Centra el contenedor */
}

.img-agreement img {
  width: 100%;
  height: auto;

}


</style>
<section class="position-relative py-6">
  <img class="bg-image" src="{% static 'img/Mont-Rainer.png' %}" alt="">

    <div class="container" >
      <div class="row" >
        <div class="col-lg-6" style="display: gird; gap: 10px; padding-top: 1rem;padding-bottom: 1rem; background-color: orange; border: 3px solid #000;">
          <div class="bg-white rounded-lg shadow p-5"><strong class="text-uppercase text-secondary d-inline-block mb-2 text-sm">John Donne</strong>
            <h2 class="mb-3">Meditation XVII</h2>
            <p class="text-muted">No man is an island entire of itself;
              every man is a piece of the continent, a part of the main;
              if a clod be washed away by the sea, Europe
              is the less, as well as if a promontory were,
              as well as any manner of thy friends or of thine
              own were; any man's death diminishes me,
              because I am involved in mankind.
              And therefore never send to know for whom
              the bell tolls; it tolls for thee.</p><a class="btn btn-link p-0" href="post.html">Continue reading <i class="fa fa-long-arrow-alt-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
<section class="page-section about-heading">
  
  <div class="container_contact">
    <div class="img-agreement col-6 d-flex align-items-center justify-content-center">
    <img class="img-fluid rounded about-heading-img mb-4 mb-lg-0" src="{% static 'img/agreement_contact.jpg' %}" alt="">
    </div>
    <div class="about-heading-content col-6 d-flex flex-column text-center justify-content-center">
      <div class="row">
        <div class="col-xl-12 col-lg-12 mx-0">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-8">
              <span class="section-heading-upper">Escribe tus consultas</span>
              <span class="section-heading-lower">Contacto</span>
            </h2>
            <!-- Formulario de contacto -->
            {% if 'ok' in request.GET %}
                <p><b>Su mensaje se ha enviado correctamente, en breve nos pondremos en contacto con usted.</b></p>
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label>Nombre *</label>
                    <div class="input-group">
                        {{form.name}}
                    </div>
                    {{form.name.errors}}
                </div>
                <div class="form-group">
                    <label>Email *</label>
                    <div class="input-group">
                        {{form.email}}
                    </div>
                    {{form.email.errors}}
                </div>

                <div class="form-group">
                  <label>Telefono *</label>
                  <div class="input-group">
                      {{form.phone}}
                  </div>
                  {{form.phone.errors}}
              </div>

                <div class="form-group">
                    <label>Mensaje *</label>
                    <div class="input-group">
                        {{form.content}}
                    </div>
                    {{form.content.errors}}
                </div>
                <div class="text-center">
                    <input type="submit" class="btn btn-primary btn-block py-2" value="Enviar">
                </div>
            </form>
            <!-- Fin formulario de contacto -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

{% endblock %}
