{% extends "base.html" %}
{% load static %}
{% block title %} Bienvenidos a GCP-Quizes {% endblock %}

{% block content %}

<section class="position-relative py-6">
    <img class="bg-image" src="{% static 'img/Mont-Rainer.png' %}" alt="">
  
      <div class="container" >
        <div class="row" >
          <div class="col-lg-6" style="display: gird; gap: 10px; padding-top: 1rem;padding-bottom: 1rem; background-color: orange; border: 3px solid #000;">
            <div class="bg-white rounded-lg shadow p-5"><strong class="text-uppercase text-secondary d-inline-block mb-2 text-sm">Reflection</strong>
              <h2 class="mb-3">Chief Seattle’s Letter 1855</h2>
              <p class="text-muted">Our connection with the Earth is deep and spiritual. Every corner of this earth and every living being are valuable and deserve our respect and care. Our actions should reflect our sacred duty to protect and love nature. By preserving the beauty and diversity of nature, we ensure that future generations can enjoy the same gifts we have received. The Earth is a gift to us and our descendants, and we must protect it with gratitude and commitment.</p><a class="btn btn-link p-0" href="post.html">Continue reading <i class="fa fa-long-arrow-alt-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="py-6">
    {% if user.is_authenticated %}
    <div class="row">
        {% if user.is_authenticated and user.is_superuser %}
        <div class="col-sm-6 col-md-4 mb-3 ml-4">
            <a class="btn btn-warning" href="{% url 'quiz_creation' %}">Crear Quiz {{user|capfirst}}</a>
        </div>
        {% endif %}
    </div>
    
        <div class="row">
            {% for post in posts %}
                <div class="col-sm-6 col-md-4">
                    <div class="card">
                        {% if post.imagen.url == '/media/imagen'%}
                        {% load static %}
                            <img src="{% static 'not_image.jpg' %}" class="card-img-top" height="200px" alt="{{post.title}}">
                        {% else %}
                            <img src="{{ post.imagen.url }}" class="card-img-top" height="200px" alt="{{post.title}}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ post.titulo }}</h5>
                            <p class="card-text mb-2">{{ post.descripcion }}</p>
                            <div class="mb-3">
                                <small>Autor: {{ post.author }}</small>
                            </div>
                            <a href="{% url 'quiz_post' post.id %}" class="btn btn-primary">Ver más</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="d-flex mt-3">
            {% if posts.has_next %}
                <div><a href="?page={{ posts.next_page_number }}" class="btn btn-outline-success">Siguiente</a></div>
            {% endif %}
            {% if posts.has_previous %}
                <div><a href="?page={{ posts.previous_page_number }}" class="btn btn-outline-success">Anterior</a></div>
            {% endif %}
        </div>
        
    {% else %}
        <h1>Necesita <a href="{% url 'login' %}">Iniciar sesion</a> para tomar los Quiz de GCP </h1>
    {% endif %}

    </div>
{% endblock %}