{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title> TITULO {% block title %} {% endblock %}</title>


    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    
    <link href="{% static 'css/mont_rainer.css' %}" rel="stylesheet">
    
    <!-- Custom styles for this template -->

  </head>

  <body class="text-center flex-column justify-content: start">
    <header class="d-flex flex-column">
        <div style="display: flex; justify-content: around; align-items: center; margin-left: 100px;">
            <div style="flex: 1; text-align: left;">
                <img src="{% static 'img/the-jaime-campillay-experience2.png' %}" id="image" style="margin: 0;" height="65" alt="Card image cap">
            </div>
            <div style="flex: 1; text-align: right; margin-right: 100px;">
              <nav class="nav nav-masthead justify-content-end">
                <a class="nav-link active" href="#">{{ menu_header.one }}</a>
                <a class="nav-link" href="#">{{ menu_header.two }}</a>
                <a class="nav-link" href="#">{{ menu_header.three }}</a>
              </nav>
                
            </div>
            <!-- HTML con casillas de verificación -->
            <form method="post" id="language-form">
              {% csrf_token %}
              <div class="form-check">
                <input class="form-check-input" type="radio" name="language" value="English" id="languageEnglish" onchange="document.getElementById('language-form').submit();">
                <label class="form-check-label" for="languageEnglish">
                  English <img src="{% static 'img/usa_england.ico' %}" style="margin-left: 5px;" height="16" alt="UK Flag">
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="language" value="Spanish" id="languageSpanish" onchange="document.getElementById('language-form').submit();" checked>
                <label class="form-check-label" for="languageSpanish">
                  Spanish <img src="{% static 'img/chile_spain.ico' %}" style="margin-left: 5px;" height="16" alt="Spain Flag">
                </label>
              </div>
            </form>
        </div>
        
      </header>
    
     

    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8 mt-5">
            {%block content %} {% endblock %}
        </div>
        <div class="col-md-2"></div>
    </div>

    <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Cover template for</p>
        </div>
      </footer>
    






</body>

</html>
