body {
    /* Añade tu imagen de fondo con la ruta correcta */
    background-image: url('/static/img/Mont-Rainer.png');
    
    /* Asegúrate de que la imagen de fondo cubra toda la página */
    background-size: cover;
    
    /* La imagen de fondo no se repetirá */

    
    /* La imagen de fondo estará fija en la ventana de visualización */
    background-attachment: fixed;
  }
  


  .cover-container {
    max-width: 42em;
  }
  

  /*
   * Header
   */
  .masthead {
    margin-bottom: 2rem;
  }
  
  .masthead-brand {
    margin-bottom: 0;
  }
  
  .nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 900;
    color: #fff;
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: black;
    background-color: transparent;
    border-bottom: .25rem solid transparent;
    font-size: 1.5rem; /* Aumenta el tamaño de la fuente a 1.25rem */
  }
  
  .nav-masthead .nav-link:hover,
  .nav-masthead .nav-link:focus {
    border-bottom-color: #ff561e;
  }
  
  .nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
  }
  
  .nav-masthead .active {
    color: #ff561e;
    border-bottom-color: #ff561e;
  }



  html, body {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  header.mb-auto {
    margin-bottom: auto;
  }
  
  main.my-auto {
    margin-top: auto;
    margin-bottom: auto;
  }
  
  footer.mt-auto {
    margin-top: auto;
  }



/* Estilo para las etiquetas de las casillas de verificación */
.form-check-label {
  color: white; /* Cambia el color del texto a blanco */
  font-size: 20px; /* Aumenta el tamaño de la fuente */
  font-weight: bold;
  -webkit-text-stroke-width: 0.75px;
  -webkit-text-stroke-color: black;
}

/* Estilo para el checkbox cuando está seleccionado */
.form-check-input:checked {
    background-color: #007bff; /* Color azul para el fondo */
    border-color: #007bff; /* Color azul para el borde */
}

/* Estilo para el indicador del checkbox seleccionado */
.form-check-input:checked::after {
    content: '';
    display: block;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: relative;
    top: -12px;
    left: 6px;
}
