/* Estilo para el encabezado */
#masthead {
    background-size: cover;
    background: rgba(0, 0, 0, 0.9);
    margin: 0;
    padding: 0;
    
}

html, body {
    
}

/* CSS modificado para usar Flexbox */
.navbar {
    position: fixed;
    background-color: #000; /* Azul */
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    width: 100%;
}

.navbar-container {
    box-sizing: border-box; /* Añade esta línea */
    background-color: #000; /* Azul */
    color: white;
    text-align: center;
    position: fixed;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    left: 0px;

}

.site-title img {
    margin: 0;
    margin-left: -10px;
    padding-left: 20px;
}

.navbar-user {
    display: flex;
    align-items: center;
}

.username {
    margin-right: 10px;
}

.user-email {
    margin-right: 10px;
}

.logout-form {
    display: inline;
}

.logout-button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 40px;
}


/* Estilo para el título del sitio */
.site-title {
    font-size: 24px;
    text-decoration: none;
    color: white;

}

/* Estilo para el menú de navegación superior */
/* .top-menu {
    background-color: #013a57;
    overflow: hidden;
    padding: 20px 30px;
    margin-top: 10px;
    margin-bottom: -20px;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
} */

/* Estilo para los elementos del menú */
/* .menu-item {
    list-style: none; 
    display: flex; 
    padding: 0;
    margin: 0; 
    flex-grow: 1; 
    justify-content: flex-end; 
}

.menu-item li {
    padding: 0px 15px;
}

.menu-item li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
} */

/* Estilo para el elemento 'home' para que se mantenga a la izquierda */
/* .menu-item li.home {
    margin-right: auto; 
} */



/* Estilo para el botón del menú deslizante */
.sliding-menu-button {
    background-color: green; /* Gris oscuro */
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 24px;
    transition: right 0.3s; 
    margin: 0px 40px;
}

/* Estilo base para las líneas del menú */
.nav-line {
    display: block;
    width: 30px; /* Ancho de las líneas */
    height: 3px; /* Altura de las líneas */
    /* background-color: white; */
    margin: 5px auto; /* Espaciado entre líneas */
    transition: all 0.3s; /* Transición suave para las transformaciones */
  }
  
  /* Estilos para la transformación a 'X' */
  .sliding-menu-button.active .nav-line-1 {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .sliding-menu-button.active .nav-line-2 {
    opacity: 0;
  }
  
  .sliding-menu-button.active .nav-line-3 {
    transform: rotate(-45deg) translate(7px, -7px);
  }
  

/* Estilo para el menú deslizante */
.sliding-menu-content {
    background-color: #000; /* Azul */
    color: white;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    right: -250px; /* Oculto inicialmente */
    transition: right 0.3s;
}

/* Clase 'active' para mostrar el menú */
.sliding-menu-content.active {
    right: 0;
}

/* Estilo para el cuerpo de la página cuando el menú está activo */
body.menu-active {
    overflow: hidden;
    margin-right: 250px; /* Mismo ancho que el menú deslizante */
    transition: margin-right 0.3s;
}

/* Ajusta la posición del botón cuando el menú está activo */
body.menu-active .sliding-menu-button {
    right: 300px; /* Mismo ancho que el menú deslizante */
}

/*
 * Footer
 */
 .mastfoot {
    position: fixed;
    color: #000;
  }

  /* Estilo para las etiquetas de las casillas de verificación */
.form-check-label {
    color: white; /* Cambia el color del texto a blanco */
    font-size: 20px; /* Aumenta el tamaño de la fuente */
    font-weight: bold;
    margin-left:10px;
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: black;
  }
  
  /* Estilo para el checkbox cuando está seleccionado */
  .form-check-input:checked {
      background-color: #007bff; /* Color azul para el fondo */
      border-color: #007bff; /* Color azul para el borde */
  }
  
  /* Estilo para el indicador del checkbox seleccionado */
  .form-check-input:checked::after {
      content: '';
      display: block;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      position: relative;
      top: -12px;
      left: 6px;
  }
  
  .cover-heading {
    color : #ff561e;
  }

  /* Estilo personalizado para los botones de radio */
  .form-check-input:checked {
  background-color: #007bff;
  border-color: #007bff;
  }
  
  /* Estilo para cambiar el aspecto del botón de radio (opcional) */
  .form-check-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  appearance: none;
  width: 1.3em;
  height: 1.3em;
  border: 1px solid #007bff;
  border-radius: 50%;
  outline: none;
  margin-right: 0.5em;
  }
  
  .form-check-input:checked::before {
  content: '';
  display: block;
  width: 0.65em;
  height: 0.65em;
  margin: 0.2em;
  background-color: #007bff;
  border-radius: 50%;
  }